<h2> Sandwich details </h2>

<h3 class="js-sandwich-id" data-sandwich-id="<%= @the_sandwich.id %>">
  <%= @the_sandwich.name %>
</h3>

<p>
  Bread type:
  <strong> <%= @the_sandwich.bread_type %> </strong>
</p>

<h4> Current ingredients </h4>

<ul class="js-current-ingredients">
  <% @the_sandwich.ingredients.each do |the_ingredient| %>
    <li> <%= the_ingredient.name %> </li>
  <% end %>
</ul>


<h4> Add more ingredients </h4>

<% @all_ingredients.each do |one_ingredient| %>
  <li>
    <button class="js-add-ingredient"
        data-ingredient-id="<%= one_ingredient.id %>">
      <%= one_ingredient.name %> </li>
    </button>
  </li>
<% end %>
